:root {
  --black: #444;
  --grey: #444;
  --greybackground:rgba(184, 184, 185, 1);
}

body {
  /* font-family: "Gotham A", "Gotham B";
  font-style: normal; */
  /* font-weight: 500; */
  color: white;
  font-size: 1.125rem;
  font-family: "Ringside Regular Office A", "Ringside Regular Office B";
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;

  @media (max-width: 600px) {

    font-size: 1rem;
    line-height: 1.35;
  }
}

h1 {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.8rem;
  line-height: 1.8;
}

h1 span {
  font-weight: 500;
}

h2 {

  font-size: 2.8rem;
  line-height: .9;
  font-family: "Knockout 70 A", "Knockout 70 B";
  font-style: normal;
  font-weight: 400;
  margin: 0 0 .5rem 0;
}

h3 {
  font-family: "Knockout 50 A", "Knockout 50 B";
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.1;
  margin: 0;
}

article h3 {
  margin-bottom: .5rem;
}

h4, h5, h6 {
  font-family: "Knockout 50 A", "Knockout 50 B";
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.1;
  margin: 0;
}

a {
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

p {
  margin-top: 0;
  margin-bottom: 1.55rem;
}

p > span {
  background-color: var(--greybackground);
  box-shadow: -10px 0px 0 7px var(--greybackground), 10px 0px 0 7px var(--greybackground), 0 0 0 7px var(--greybackground);
  box-decoration-break: clone;
}

em {
  font-style: italic;
}

.bla {
  color: #999;
}

html {
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
@media (min-width: 576px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

main {
  position: relative;
  min-height: 100vh;
}

main #background {
  position: absolute;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.small_container, .small-container {
  width: calc(100% - 2rem);
  max-width: 600px;
}

.medium_container, .medium-container, .container.images {
  width: calc(100% - 2rem);
  max-width: 1120px;
}
@media screen and (min-width: 992px) {
  .medium_container, .medium-container, .container.images {
    width: calc(100% - 10rem);
  }
}

.images_container {
  margin: 3rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
@media screen and (min-width: 768px) {
  .images_container {
    flex-direction: row;
  }
}
.images_container > img {
  max-width: 280px;
  height: auto;
  border-radius: 52%;
}
.images_container > img:first-of-type {
  display: none;
}
@media screen and (min-width: 768px) {
  .images_container > img:first-of-type {
    display: block;
  }
}

.container.images {
  margin: 1.5rem auto 3rem auto;
}
.container.images img {
  width: 100%;
  height: auto;
}

.flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .flex_row {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
#blog_container {

    padding: 28rem 0;
    position: relative;

    @media (max-width: 600px) {

      padding: 32rem 4.5rem;
      width: calc(100% - 9rem);
    }
 }

header { 
  margin-bottom: -120px;
}

header .large_container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

header #logo {

  width: 360px; 
  margin-bottom: -156px;
  margin-top: -60px;
  height: auto;
}

header h1 {
  text-transform: none; 
  color: #0081b0;
  font-family: "Ringside Narrow A", "Ringside Narrow B";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;

}

article .date {

  display: block;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}