@use 'colours';

@mixin bodyText {

    font-size: 1.25rem;
    line-height: 1.55;
    font-style: normal;
    font-weight: 400;
    color: var(--black);
    color: white;
    font-size: 1.125rem;
    font-family: "Ringside Regular Office A", "Ringside Regular Office B";
    font-style: normal;
    font-weight: 400;
    line-height: 1.55;
}

@mixin uppercase {
    
}


body {
    @include bodyText;
}


h1 {

}


h2 {

    font-size: 2.8rem;
    line-height: .9;
    font-family: "Knockout 70 A", "Knockout 70 B";
    font-style: normal;
    font-weight: 400;
    margin: 0 0 .5rem 0;

}

h3 {

    font-family: "Knockout 50 A", "Knockout 50 B";
    font-style: normal;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.1;
    margin: 0;
 
}

a {
    color:  var(--black);
    text-decoration: none;
    border-bottom: 1px solid var(--black);
}

p {
    margin-top: 0;
    margin-bottom: 1.55rem;
}

em {
    font-style: italic;
}

.date {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}
