<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}
<body>
    {{> header}}
    <main>

        <div class="container">
{{!-- 
            {{#each posts as |post|}}

                <a href="post">
                    {{> background }}
                    <span class="date">{{ post.creationDate }}</span> 
                    {{post.title}}
                </a> -

            {{/each}} --}}

        </div>
      
    </main>
</body>
</html>
