<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}
<body>
    {{> header}}
    <main>

        <section class="container small_container">

            {{json this}}


            {{#each collections.posts}}
                <article>
                 {{this.title}}
                </article>
            {{/each}}

        </section>
      
    </main>
</body>
</html>
