<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}

<body id="blog">
    {{> header}}
    <main>
        {{> background }}

        <section id="blog_container" class="container small_container">
          
            <article class="blog">   
                <h2>{{title}}</h2> 
                <span class='date'>{{this}}</span>
               
                {{{extract_images content}}}          
            </article>
        
        </section>
    </main>
</body>
</html>