header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    a {
        text-decoration: none;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    svg { 

        max-width: 240px;
        height: auto;
        margin-bottom: -90px;
        margin-top: -30px;
    }

    h1 {
        text-transform: none;
        color: #0081b0;
        font-family: "Ringside Narrow A", "Ringside Narrow B";
        font-style: normal;
        font-weight: 700;
        font-size: 2.2rem;
    }


}
