@use '../styleguide/breakpoints';

.flex_row {
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: breakpoints.$breakpoint-medium) {
        flex-direction: row;
    }

}


